body {
    font-family: "Roboto", sans-serif;
    background-color: aqua;
    color: violet;
    margin: 0px;
}
.logo {
    max-width: 90px;
    display: block;
    margin: auto;
}
.navigation{
    text-align: center;
    background-color: rgb(255, 234, 220);
}
.navigation a {
    color: rgb(210, 117, 30);
    text-decoration: none;
    padding: 20px 10px;
    display: inline-block;
}
.navigation a:hover{
    background-color: rgb(255, 234, 220);
}
header {
   background-color: brown;
}
.banner {
    min-height: 50vh;
    background-image: url("pexels-airam-datoon-15186466.jpg");
    background-size: cover;
    background-position: center center;

}
